.classpath
.idea
.project
.log
target/
build/
bin/
.gradle/
*.iml 
*.ipr 
*.iws
out/

# Exclude Gradle Wrapper files
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat